nextflow {
    cleanup {
        enabled = false
        remove = true
    }
}

report {
    overwrite = true
}

executor {
    cpus = 4
    memory = '16 GB'
}

profiles {
    singularity {
        process.executor = 'slurm'
        params.profile = 'singularity'
        singularity.enabled = true
        process.container = 'docker://dylanpilz/freyja-nf:latest'

        singularity.cacheDir = "$PWD"
        singularity.autoMounts = false
        singularity.runOptions = "--bind $PWD"
    }

    docker {
        params.profile = 'docker'
        docker.enabled = true
        process.container = 'dylanpilz/freyja-nf:latest'

        docker.temp = 'auto'
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}



params {
    fastq_dir= "$baseDir/fastq"

    // SARS-CoV-2 reference data
    ref = "$baseDir/data/NC_045512_Hu-1.fasta"
    annot = "$baseDir/data/NC_045512_Hu-1.gff"
    bedfile = "/home/dpilz/Freyja-nf/data/bedfiles/ARTICv5.3.2.bed"

    // Directory to save variants/demix/covariants subdirectories
    output = "$baseDir/outputs"

    // iVar trim
    min_quality = 15
    min_read_length = 100
    sliding_window_width = 4
    primer_offset = 3

    // Freyja demix
    eps = 0.0001
    depthCutoff = 0

    // Freyja covariants parameters (S-gene by default)
    min_site = 21563
    max_site = 25384
}
